In [3]:
import pandas as pd
df = pd.read_csv("p2.1.csv")
df.head()

  company_name                  job     degree  salary_more_than_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0